body{
    margin: 15px;
}

header {
      background-image: url(images/1pattern.jpeg);
      font-family: Helvetica;
      font-size:100px;
      font-weight:bold;
      color:khaki;
      text-align: center;
}

header p {
    margin:5px;
}

@media screen and (max-width: 480px) {
    .header-text {
      font-size: 8px;
  }
}

.text {
   font-family: "Helvetica", sans-serif;
}

.brushes {
  font-family: Helvetica;
  font-size:32px;
  font-weight:bold;
  color:white;
  background-color: mediumspringgreen;
}

.frames {
  font-family: Helvetica;
  font-size:32px;
  font-weight:bold;
  color:white;
  background-color:lightcoral;
  }

.paint {
  font-family: Helvetica;
  font-size:32px;
  font-weight:bold;
  color:white;
  background-color:skyblue;
  }

.blue-text {
font-family: Helvetica;
font-weight:bold;
color:blue;
}



